<h2>Записаться</h2>


<form action="/visit" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите Ваше имя">
  </div>
  
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>